<a href="https://colab.research.google.com/github/GiselleNidhoggr/python-univesp-ciencia-de-dados/blob/main/Semana_4_Minera%C3%A7%C3%A3o_de_Dados%2C_Prepara%C3%A7%C3%A3o_e_Pr%C3%A9_Processamento_de_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pré-Processamento de Dados

#Processamento tênis

##Importar a Pandas

In [1]:
import pandas as pd

##Importar a base de dados CSV de tênis

In [2]:
dados=pd.read_csv('https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2021.csv')

In [3]:
dados.head(5)

  tourney_id  tourney_name  ... loser_rank  loser_rank_points
0  2021-0499  Delray Beach  ...      119.0              566.0
1  2021-0499  Delray Beach  ...      789.0               22.0
2  2021-0499  Delray Beach  ...       74.0              877.0
3  2021-0499  Delray Beach  ...      101.0              733.0
4  2021-0499  Delray Beach  ...      293.0              171.0

[5 rows x 49 columns]

In [4]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2670 entries, 0 to 2669
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          2670 non-null   object
 1   tourney_name        2670 non-null   object
 2   surface             2670 non-null   object
 3   draw_size           2670 non-null   int64
 4   tourney_level       2670 non-null   object
 5   tourney_date        2670 non-null   int64
 6   match_num           2670 non-null   int64
 7   winner_id           2670 non-null   int64
 8   winner_seed         1165 non-null   float64
 9   winner_entry        417 non-null    object
 10  winner_name         2670 non-null   object
 11  winner_hand         2669 non-null   object
 12  winner_ht           2344 non-null   float64
 13  winner_ioc          2670 non-null   object
 14  winner_age          2670 non-null   float64
 15  loser_id            2670 non-null   int64
 16  loser_seed          693 non-null    float64
 17  loser_entry         635 non-null    object
 18  loser_name          2670 non-null   object
 19  loser_hand          2670 non-null   object
 20  loser_ht            2162 non-null   float64
 21  loser_ioc           2670 non-null   object
 22  loser_age           2668 non-null   float64
 23  score               2670 non-null   object
 24  best_of             2670 non-null   int64
 25  round               2670 non-null   object
 26  minutes             2593 non-null   float64
 27  w_ace               2579 non-null   float64
 28  w_df                2579 non-null   float64
 29  w_svpt              2579 non-null   float64
 30  w_1stIn             2579 non-null   float64
 31  w_1stWon            2579 non-null   float64
 32  w_2ndWon            2579 non-null   float64
 33  w_SvGms             2580 non-null   float64
 34  w_bpSaved           2579 non-null   float64
 35  w_bpFaced           2579 non-null   float64
 36  l_ace               2579 non-null   float64
 37  l_df                2579 non-null   float64
 38  l_svpt              2579 non-null   float64
 39  l_1stIn             2579 non-null   float64
 40  l_1stWon            2579 non-null   float64
 41  l_2ndWon            2579 non-null   float64
 42  l_SvGms             2580 non-null   float64
 43  l_bpSaved           2579 non-null   float64
 44  l_bpFaced           2579 non-null   float64
 45  winner_rank         2666 non-null   float64
 46  winner_rank_points  2666 non-null   float64
 47  loser_rank          2646 non-null   float64
 48  loser_rank_points   2646 non-null   float64
dtypes: float64(29), int64(6), object(14)
memory usage: 1022.2+ KB

In [5]:
dados.describe(include='all')

       tourney_id tourney_name  ...   loser_rank  loser_rank_points
count        2670         2670  ...  2646.000000        2646.000000
unique         86           86  ...          NaN                NaN
top      2021-560    Wimbledon  ...          NaN                NaN
freq          127          127  ...          NaN                NaN
mean          NaN          NaN  ...   102.481104        1396.464475
std           NaN          NaN  ...   148.842570        1468.838019
min           NaN          NaN  ...     1.000000           1.000000
25%           NaN          NaN  ...    37.000000         716.000000
50%           NaN          NaN  ...    68.000000         994.500000
75%           NaN          NaN  ...   110.000000        1592.500000
max           NaN          NaN  ...  2146.000000       12113.000000

[11 rows x 49 columns]

In [6]:
dados.isnull()

      tourney_id  tourney_name  ...  loser_rank  loser_rank_points
0          False         False  ...       False              False
1          False         False  ...       False              False
2          False         False  ...       False              False
3          False         False  ...       False              False
4          False         False  ...       False              False
...          ...           ...  ...         ...                ...
2665       False         False  ...       False              False
2666       False         False  ...       False              False
2667       False         False  ...       False              False
2668       False         False  ...       False              False
2669       False         False  ...        True               True

[2670 rows x 49 columns]

##Verificar valores nulos nas colunas

In [7]:
dados.isnull().sum()

tourney_id               0
tourney_name             0
surface                  0
draw_size                0
tourney_level            0
tourney_date             0
match_num                0
winner_id                0
winner_seed           1505
winner_entry          2253
winner_name              0
winner_hand              1
winner_ht              326
winner_ioc               0
winner_age               0
loser_id                 0
loser_seed            1977
loser_entry           2035
loser_name               0
loser_hand               0
loser_ht               508
loser_ioc                0
loser_age                2
score                    0
best_of                  0
round                    0
minutes                 77
w_ace                   91
w_df                    91
w_svpt                  91
w_1stIn                 91
w_1stWon                91
w_2ndWon                91
w_SvGms                 90
w_bpSaved               91
w_bpFaced               91
l_ace                   91
l_df                    91
l_svpt                  91
l_1stIn                 91
l_1stWon                91
l_2ndWon                91
l_SvGms                 90
l_bpSaved               91
l_bpFaced               91
winner_rank              4
winner_rank_points       4
loser_rank              24
loser_rank_points       24
dtype: int64

##Verificar coluna "winner_entry", que tem muitos valores nulos e indica como o vencedor entrou no torneio

In [8]:
dados['winner_entry'].describe()

count     417
unique      6
top         Q
freq      234
Name: winner_entry, dtype: object

In [9]:
dados['winner_entry'].unique()

array([nan, 'Q', 'WC', 'Alt', 'PR', 'LL', 'SE'], dtype=object)

##Apagar todas as linhas que o atributo "loser_rank" é nulo, porque são poucas ocasiões e isso pode implicar erros nos resultados

In [10]:
dados.dropna(subset=['loser_rank'], inplace=True)

In [11]:
dados

                           tourney_id  ... loser_rank_points
0                           2021-0499  ...             566.0
1                           2021-0499  ...              22.0
2                           2021-0499  ...             877.0
3                           2021-0499  ...             733.0
4                           2021-0499  ...             171.0
...                               ...  ...               ...
2664  2021-M-DC-2021-WG2-M-THA-DEN-01  ...               8.0
2665  2021-M-DC-2021-WG2-M-THA-DEN-01  ...              27.0
2666  2021-M-DC-2021-WG2-M-THA-DEN-01  ...               2.0
2667  2021-M-DC-2021-WG2-M-TUR-LAT-01  ...              38.0
2668  2021-M-DC-2021-WG2-M-TUR-LAT-01  ...             359.0

[2646 rows x 49 columns]

##Apagar colunas que todos os valores são nulos

In [12]:
dados.dropna(axis=1, how= 'all')

                           tourney_id  ... loser_rank_points
0                           2021-0499  ...             566.0
1                           2021-0499  ...              22.0
2                           2021-0499  ...             877.0
3                           2021-0499  ...             733.0
4                           2021-0499  ...             171.0
...                               ...  ...               ...
2664  2021-M-DC-2021-WG2-M-THA-DEN-01  ...               8.0
2665  2021-M-DC-2021-WG2-M-THA-DEN-01  ...              27.0
2666  2021-M-DC-2021-WG2-M-THA-DEN-01  ...               2.0
2667  2021-M-DC-2021-WG2-M-TUR-LAT-01  ...              38.0
2668  2021-M-DC-2021-WG2-M-TUR-LAT-01  ...             359.0

[2646 rows x 49 columns]

##Alterar valor dos dados nulos em uma coluna

In [13]:
dados['loser_entry'].unique()

array([nan, 'Q', 'WC', 'Alt', 'PR', 'LL', 'SE'], dtype=object)

In [14]:
dados['loser_entry'].fillna(value='X',inplace=True)

In [15]:
dados['loser_entry'].unique()

array(['X', 'Q', 'WC', 'Alt', 'PR', 'LL', 'SE'], dtype=object)

##Alterar mais de um atributo, com condições diferentes

In [16]:
dados['w_ace'].unique()

array([ 4.,  7.,  6.,  2.,  5.,  3., 22., 10.,  9., 13., 27.,  0.,  8.,
        1., 15., 12., nan, 11., 14., 23., 17., 16., 18., 41., 26., 19.,
       21., 30., 25., 20., 29., 32., 28., 24., 34., 36., 44., 33., 49.,
       31.])

In [17]:
dados['loser_ht'].unique()

array([196.  ,    nan, 188.  , 185.  , 193.  , 206.  , 198.  , 191.  ,
       208.  , 183.  , 180.  , 178.  , 175.  , 190.  , 181.  , 211.  ,
       203.  , 173.  , 170.  , 172.  ,   1.83])

In [18]:
dados.fillna(value={'w_ace':0,'loser_ht':dados['loser_ht'].mean()},inplace=True)

In [19]:
dados['w_ace'].unique()

array([ 4.,  7.,  6.,  2.,  5.,  3., 22., 10.,  9., 13., 27.,  0.,  8.,
        1., 15., 12., 11., 14., 23., 17., 16., 18., 41., 26., 19., 21.,
       30., 25., 20., 29., 32., 28., 24., 34., 36., 44., 33., 49., 31.])

In [20]:
dados['loser_ht'].unique()

array([196.        , 186.86269356, 188.        , 185.        ,
       193.        , 206.        , 198.        , 191.        ,
       208.        , 183.        , 180.        , 178.        ,
       175.        , 190.        , 181.        , 211.        ,
       203.        , 173.        , 170.        , 172.        ,
         1.83      ])

##Usar o método ffill para projetar um dado para o registro seguinte

In [21]:
dados['minutes'][1975:1990]

1981    128.0
1982     98.0
1983    119.0
1984      NaN
1985    141.0
1986     98.0
1987    127.0
1988      NaN
1989     98.0
1990     83.0
1991    135.0
1992     85.0
1993    140.0
1994    144.0
1995    131.0
Name: minutes, dtype: float64

In [22]:
dados['minutes'].fillna(method='ffill',inplace=True)

In [23]:
dados['minutes'][1975:1990]

1981    128.0
1982     98.0
1983    119.0
1984    119.0
1985    141.0
1986     98.0
1987    127.0
1988    127.0
1989     98.0
1990     83.0
1991    135.0
1992     85.0
1993    140.0
1994    144.0
1995    131.0
Name: minutes, dtype: float64

##Identificar duplicados

In [24]:
dados.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2664    False
2665    False
2666    False
2667    False
2668    False
Length: 2646, dtype: bool

In [25]:
dados.duplicated().sum()

0

##Eliminar duplicados de uma coluna (nem sempre se quer realmente fazer isso, cuidado)

In [26]:
dados.drop_duplicates(subset=['tourney_name'],inplace=True)

In [27]:
dados['tourney_name'].head(10)

0               Delray Beach
27                   Antalya
58     Great Ocean Road Open
113        Murray River Open
168                  Atp Cup
198          Australian Open
325                  Cordoba
352                Singapore
379              Montpellier
406             Buenos Aires
Name: tourney_name, dtype: object

In [28]:
dados.describe()

        draw_size  tourney_date  ...   loser_rank  loser_rank_points
count   82.000000  8.200000e+01  ...    82.000000          82.000000
mean    37.121951  2.021064e+07  ...   175.073171        1890.121951
std     31.840804  2.899241e+02  ...   310.768255        2466.276683
min      4.000000  2.021010e+07  ...     1.000000           1.000000
25%     17.000000  2.021040e+07  ...    22.500000         534.250000
50%     32.000000  2.021071e+07  ...    59.000000        1101.500000
75%     32.000000  2.021092e+07  ...   143.000000        2191.250000
max    128.000000  2.021112e+07  ...  1921.000000       12113.000000

[8 rows x 35 columns]

#Trabalhando com deslocamento

###Vamos importar os dados das ações da Apple
###https://finance.yahoo.com/quote/AAPL/history/

In [29]:
dados2=pd.read_csv('/content/drive/MyDrive/Arquivos para Python/AAPL.csv')

In [30]:
dados2.head(5)

         Date        Open        High  ...       Close   Adj Close     Volume
0  2020-11-25  115.550003  116.750000  ...  116.029999  115.319077   76499200
1  2020-11-27  116.570000  117.489998  ...  116.589996  115.875641   46691300
2  2020-11-30  116.970001  120.970001  ...  119.050003  118.320580  169410200
3  2020-12-01  121.010002  123.470001  ...  122.720001  121.968102  127728200
4  2020-12-02  122.019997  123.370003  ...  123.080002  122.325890   89004200

[5 rows x 7 columns]

In [31]:
dados2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       252 non-null    object
 1   Open       252 non-null    float64
 2   High       252 non-null    float64
 3   Low        252 non-null    float64
 4   Close      252 non-null    float64
 5   Adj Close  252 non-null    float64
 6   Volume     252 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 13.9+ KB

In [32]:
dados2['close_ontem']=dados2['Close'].shift(1)

In [33]:
dados2

           Date        Open        High  ...   Adj Close     Volume  close_ontem
0    2020-11-25  115.550003  116.750000  ...  115.319077   76499200          NaN
1    2020-11-27  116.570000  117.489998  ...  115.875641   46691300   116.029999
2    2020-11-30  116.970001  120.970001  ...  118.320580  169410200   116.589996
3    2020-12-01  121.010002  123.470001  ...  121.968102  127728200   119.050003
4    2020-12-02  122.019997  123.370003  ...  122.325890   89004200   122.720001
..          ...         ...         ...  ...         ...        ...          ...
247  2021-11-18  153.710007  158.669998  ...  157.869995  137827700   153.490005
248  2021-11-19  157.649994  161.020004  ...  160.550003  117147500   157.869995
249  2021-11-22  161.679993  165.699997  ...  161.020004  117467900   160.550003
250  2021-11-23  161.119995  161.800003  ...  161.410004   96041900   161.020004
251  2021-11-24  160.750000  162.139999  ...  161.940002   69396000   161.410004

[252 rows x 8 columns]

##Nova coluna com a porcentagem de alteração de um dia para o outro

In [34]:
dados2['alteracao %']=((dados2['Close']/dados2['close_ontem'])-1)*100

In [35]:
dados2.head(21)

          Date        Open        High  ...     Volume  close_ontem  alteracao %
0   2020-11-25  115.550003  116.750000  ...   76499200          NaN          NaN
1   2020-11-27  116.570000  117.489998  ...   46691300   116.029999     0.482631
2   2020-11-30  116.970001  120.970001  ...  169410200   116.589996     2.109964
3   2020-12-01  121.010002  123.470001  ...  127728200   119.050003     3.082737
4   2020-12-02  122.019997  123.370003  ...   89004200   122.720001     0.293352
5   2020-12-03  123.519997  123.779999  ...   78967600   123.080002    -0.113747
6   2020-12-04  122.599998  122.860001  ...   78260400   122.940002    -0.561251
7   2020-12-07  122.309998  124.570000  ...   86712000   122.250000     1.226994
8   2020-12-08  124.370003  124.980003  ...   82225500   123.750000     0.509088
9   2020-12-09  124.529999  125.949997  ...  115089200   124.379997    -2.090367
10  2020-12-10  120.500000  123.870003  ...   81312200   121.779999     1.198882
11  2020-12-11  122.430000  122.760002  ...   86939800   123.239998    -0.673478
12  2020-12-14  122.599998  123.349998  ...   79184500   122.410004    -0.514668
13  2020-12-15  124.339996  127.900002  ...  157243700   121.779999     5.009031
14  2020-12-16  127.410004  128.369995  ...   98208600   127.879997    -0.054738
15  2020-12-17  128.899994  129.580002  ...   94359800   127.809998     0.696345
16  2020-12-18  128.960007  129.100006  ...  192541500   128.699997    -1.585076
17  2020-12-21  125.019997  128.309998  ...  121251600   126.660004     1.239533
18  2020-12-22  131.610001  134.410004  ...  168904800   128.229996     2.846455
19  2020-12-23  132.160004  132.429993  ...   88223700   131.880005    -0.697602
20  2020-12-24  131.320007  133.460007  ...   54930100   130.960007     0.771223

[21 rows x 9 columns]

In [36]:
dados2.dropna(subset=['alteracao %'], inplace=True)

In [37]:
dados2.head(21)

          Date        Open        High  ...     Volume  close_ontem  alteracao %
1   2020-11-27  116.570000  117.489998  ...   46691300   116.029999     0.482631
2   2020-11-30  116.970001  120.970001  ...  169410200   116.589996     2.109964
3   2020-12-01  121.010002  123.470001  ...  127728200   119.050003     3.082737
4   2020-12-02  122.019997  123.370003  ...   89004200   122.720001     0.293352
5   2020-12-03  123.519997  123.779999  ...   78967600   123.080002    -0.113747
6   2020-12-04  122.599998  122.860001  ...   78260400   122.940002    -0.561251
7   2020-12-07  122.309998  124.570000  ...   86712000   122.250000     1.226994
8   2020-12-08  124.370003  124.980003  ...   82225500   123.750000     0.509088
9   2020-12-09  124.529999  125.949997  ...  115089200   124.379997    -2.090367
10  2020-12-10  120.500000  123.870003  ...   81312200   121.779999     1.198882
11  2020-12-11  122.430000  122.760002  ...   86939800   123.239998    -0.673478
12  2020-12-14  122.599998  123.349998  ...   79184500   122.410004    -0.514668
13  2020-12-15  124.339996  127.900002  ...  157243700   121.779999     5.009031
14  2020-12-16  127.410004  128.369995  ...   98208600   127.879997    -0.054738
15  2020-12-17  128.899994  129.580002  ...   94359800   127.809998     0.696345
16  2020-12-18  128.960007  129.100006  ...  192541500   128.699997    -1.585076
17  2020-12-21  125.019997  128.309998  ...  121251600   126.660004     1.239533
18  2020-12-22  131.610001  134.410004  ...  168904800   128.229996     2.846455
19  2020-12-23  132.160004  132.429993  ...   88223700   131.880005    -0.697602
20  2020-12-24  131.320007  133.460007  ...   54930100   130.960007     0.771223
21  2020-12-28  133.990005  137.339996  ...  124486200   131.970001     3.576571

[21 rows x 9 columns]

In [38]:
dados2.describe(include= 'all')

              Date        Open  ...  close_ontem  alteracao %
count          251  251.000000  ...   251.000000   251.000000
unique         251         NaN  ...          NaN          NaN
top     2021-07-26         NaN  ...          NaN          NaN
freq             1         NaN  ...          NaN          NaN
mean           NaN  136.413108  ...   136.330398     0.144948
std            NaN   10.750594  ...    10.803409     1.556230
min            NaN  116.570000  ...   116.029999    -4.167351
25%            NaN  126.989998  ...   126.875000    -0.751787
50%            NaN  134.830002  ...   134.389999     0.151059
75%            NaN  146.280007  ...   146.375000     1.189750
max            NaN  161.679993  ...   161.410004     5.385122

[11 rows x 9 columns]

##Transformar dados categóricos (qualitativos) em dados numéricos

In [39]:
dados=pd.read_csv('https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2021.csv')

In [40]:
dados['winner_ioc']

0       POL
1       POL
2       USA
3       USA
4       POL
       ...
2665    DEN
2666    THA
2667    TUR
2668    TUR
2669    TUR
Name: winner_ioc, Length: 2670, dtype: object

In [41]:
dados['winner_ioc'].unique()

array(['POL', 'USA', 'GBR', 'ITA', 'ECU', 'COL', 'CRO', 'BRA', 'AUS',
       'KAZ', 'FRA', 'BEL', 'GER', 'GEO', 'BUL', 'TUR', 'FIN', 'ESP',
       'RUS', 'SRB', 'NED', 'URU', 'SLO', 'RSA', 'DEN', 'KOR', 'UKR',
       'CAN', 'SUI', 'CZE', 'LTU', 'BLR', 'ARG', 'POR', 'HUN', 'JPN',
       'GRE', 'AUT', 'NOR', 'MDA', 'SWE', 'SVK', 'CHI', 'IND', 'TUN',
       'PER', 'TPE', 'BIH', 'BOL', 'ISR', 'ROU', 'BAR', 'INA', 'DOM',
       'MEX', 'ESA', 'THA'], dtype=object)

##Veja a documentação do scikit-learn sobre preprocessing!!!!

In [42]:
from sklearn.preprocessing import LabelEncoder

In [43]:
paises=dados['winner_ioc']

In [44]:
paises

0       POL
1       POL
2       USA
3       USA
4       POL
       ...
2665    DEN
2666    THA
2667    TUR
2668    TUR
2669    TUR
Name: winner_ioc, Length: 2670, dtype: object

In [45]:
lencoder = LabelEncoder()
paises_numeros = lencoder.fit_transform(paises)
paises_numeros

array([40, 40, 56, ..., 53, 53, 53])

In [46]:
paises.head(10)

0    POL
1    POL
2    USA
3    USA
4    POL
5    GBR
6    USA
7    USA
8    ITA
9    POL
Name: winner_ioc, dtype: object

In [47]:
dados['paises_numeros']=paises_numeros

In [48]:
dados

                           tourney_id  ... paises_numeros
0                           2021-0499  ...             40
1                           2021-0499  ...             40
2                           2021-0499  ...             56
3                           2021-0499  ...             56
4                           2021-0499  ...             40
...                               ...  ...            ...
2665  2021-M-DC-2021-WG2-M-THA-DEN-01  ...             15
2666  2021-M-DC-2021-WG2-M-THA-DEN-01  ...             50
2667  2021-M-DC-2021-WG2-M-TUR-LAT-01  ...             53
2668  2021-M-DC-2021-WG2-M-TUR-LAT-01  ...             53
2669  2021-M-DC-2021-WG2-M-TUR-LAT-01  ...             53

[2670 rows x 50 columns]